* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Karla", sans-serif;
}

a {
  text-decoration: none;
}

/* - Dark Violet: hsl(256, 26%, 20%)
- Grayish Blue: hsl(216, 30%, 68%)

### Neutral

- Very Dark Violet: hsl(270, 9%, 17%)
- Dark Grayish Violet: hsl(273, 4%, 51%)
- Very Light Gray: hsl(0, 0%, 98%) */

.primary-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 75px;
}

.primary-nav ul {
  list-style: none;
  display: flex;
  padding: 0 10rem 0 0;
}

.primary-nav li {
  padding: 0 1rem;
}

.primary-nav a {
  text-decoration: none;
  text-transform: uppercase;
}

.logo {
  color: hsl(256, 26%, 20%);
  padding: 0 10rem;
}

.view-plans {
  border: 2px solid hsl(256, 26%, 20%);
  padding: 0.5rem 1.25rem;
  font-weight: bold;
}

.h-font {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
}

.b-font {
  font-family: "Karla", sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.hero {
  background-color: hsl(256, 26%, 20%);
  width: 100%;
  height: 60vh;
  color: white;
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 15rem;
}

.left-col {
  padding-left: 10rem;
  padding-right: 3rem;
  margin-top: 5rem;
}

.line-t {
  content: "";
  display: block;
  width: 20%;
  border-top: 1px solid rgb(255, 255, 255);
  padding: 4rem 0 0 0;
}

.line-tb {
  content: "";
  display: block;
  width: 10%;
  border-top: 1px solid rgb(0, 0, 0);
  padding: 4rem 0 0 0;
}

.left-col h1 {
  font-size: 4rem;
  line-height: 4rem;
}

.left-col h2 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 2rem;
  display: inline-block;
  border: 2px solid white;
  padding: 0.5rem 1.5rem;
}

.left-col h3 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  padding-top: 1rem;
}

.right-col {
  margin-top: 5rem;
}

.hero-img {
  width: 60%;
  display: flex;
  margin: auto;
}

.left-blob {
  position: absolute;
  left: 0;
  top: 50%;
}

.right-blob {
  position: absolute;
  right: 0;
  top: 8%;
  width: 20%;
}

.different {
  width: 100%;
  height: 65vh;
  padding-left: 10rem;
  padding-top: 4rem;
}

.different h1 {
  font-size: 3rem;
  line-height: 4rem;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  padding-bottom: 4rem;
}

.diff-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  width: 85%;
  gap: 3.5rem;
}

.diff-how h4 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 1.5rem;
  padding: 1rem 0;
}

.diff-how p {
  font-size: 1rem;
  line-height: 2rem;
}

.find-out {
  width: 100%;
  height: 50vh;
  padding-left: 10rem;
}

.find-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 91%;
  height: 25vh;
  background-color: hsl(256, 26%, 20%);
  padding: 0 6rem;
}

.find-container h1 {
  font-size: 3rem;
  line-height: 3rem;
  color: white;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
}

.find-container h2 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
  display: inline-block;
  border: 2px solid white;
  padding: 0.5rem 1.5rem;
  color: white;
}

.find-container img {
  position: absolute;
  right: 9.75rem;
  width: 21.5%;
}

footer {
  width: 100%;
  background-color: hsl(0, 0%, 98%);
  padding-bottom: 4rem;
  text-decoration: none;
}

.footer-container {
  width: 92%;
  padding-left: 10rem;
  padding-top: 4rem;
  z-index: 1;
}

.social {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px hsla(273, 4%, 51%, 0.3) solid;
  padding-bottom: 2rem;
  margin-bottom: 2.5rem;
  z-index: 1;
}

.social-icons img {
  padding-left: 1rem;
}

.footer-links {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  width: 100%;
  justify-content: space-between;
  text-transform: uppercase;
}

.footer-section {
  line-height: 2rem;
  font-weight: 700;
  font-size: 1rem;
  z-index: 1;
}

.foot-head {
  color: hsl(273, 4%, 51%);
  padding-bottom: 1.5rem;
}

.footer-img {
  position: absolute;
  opacity: 0.7;
  z-index: 0;
}
